#root {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.titulosFuente {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    color:rgba(32,64,59,1) ;
}

.fuenteLogo {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.background {
    background: linear-gradient(90deg, rgba(32,64,59,1) 0%, rgba(120,150,121,1) 15%, rgba(66,94,46,1) 100%);
};

.colorPrincipal {
    color: #20403b;
}

.colorSecundario {
    color: #789679;
}

.colorTerciario {
    color: #425e2e;
}

#contenBanner{
    height:auto;
  }
  
  #imgBanner{
    height: auto;
    max-width: 100%;
  }

  .card-body{
    background-color: #20403b;
  }
  .link-informacion{
    text-decoration: dashed;
    color: #20403b;
  }
  
  .cheft-card:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
  }
  .agradecimientoPirola{
    background-color: #789679;
  }


  @media (min-width: 280px) and (max-width: 300px){
    .categoria h3{
      font-size: 16px;
    }
    a.link-informacion {
        font-size: 10px;
      }
  }